* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: hwb(319 66% 8%);
    color: #333;
}

header {
    background-color: #3f1e1e;
    padding: 1rem;
    text-align: center;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

section {
    padding: 60px 20px;
}

h1, h2, h3 {
    font-weight: 700;
}

.intro-section, .about-section, .education-section, .projects-section, .contact-section {
    text-align: center;
}

.content {
    max-width: 800px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: hsl(106, 91%, 46%);
}

a:hover {
    text-decoration: underline;
}

button {
    padding: 10px 20px;
    background-color: #1e90ff;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #4169e1;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

footer a {
    color: #1e90ff;
}
